<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jtqiu.mysecondandroidapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >

        <activity android:name=".tweet.TweetListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".tweet.UserProfileActivity" >
        </activity>

        <service
            android:name=".service.DataLoaderIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.jtqiu.mysecondandroidapp.tweet.TweetListActivity.TWEETS_READY" />
            </intent-filter>
        </service>

    </application>

</manifest>
